<span class="items">
    <div class="userSideBySideGrid">
        <div><%- photo %></div>
        <div>
            <%- link %><br>
            <span class="smallText"><%= timestamp %></span>
        </div>
    </div>
</span>