<div class="errorBox" id="<%= id %>"<% if (!display) { %> style="display: none;"<% } %>>
    <span class="errorBoxClose"><a href="javascript:void(0);" class="tooltip tooltip--top" data-title="<%= locale.utilHelper.closeErrorDialogTooltip %>" data-box="<%= id %>" onclick="closeErrorBox(this);"><i class="fa-solid fa-circle-xmark"></i></a></span>
    <div class="errorBoxGrid">
        <div><i class="fa-solid fa-triangle-exclamation"></i></div>
        <div><%- error %></div>
    </div>
</div>